{% extends 'base.html.twig' %}

{% block title %}BACK OFFICE
{% endblock %}

{% block body %}

	<div class="container text-center">

		<a href="{{ path('admin_article') }}" class="btn btn-light col-6 my-4">Gestion des Articles</a>
		<a href="" class="btn btn-light col-6 my-4">Gestion des Categories</a>
		<a href="" class="btn btn-light col-6 my-4">Gestion des Commentaires</a>
		<a href="" class="btn btn-light col-6 my-4">Gestion des Users</a>

	</div>
{% endblock %}
